{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            
            <!-- <h2>About Show Us..</h2> -->
            <img src="{% static 'logo/mic.gif' %}" style="width: 200px; height: 200px; margin-top: 120px; margin-bottom: 50px; border-radius: 5px;">
            <div class="d-flex justify-content-center " >
                <p class="about px-3" style="word-break:break-all ; color: whitesmoke;font-size: 30px; font-family: monospace; font-weight: bold; background-color: rgb(255, 202, 45); border-radius: 5px;">Hello guests. This is a social media platform explicitly for young or new soul artists/musicians. Need a place to debut? Upload and share your talent. You will get feedback via comments by entertainment companies, or Jay-Z might send you a DM. App is built with Python and Django. Please find my LinkedIn for any questions. </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}