.post-text {
    margin-left: 8px;
}
/* .post-img {
    float: left;
    margin-right: 1rem;
} */
.logo{
    margin-left: -20px;
    margin-top: -30px;
    width: 200px !important;
    height: 200px !important;
}
.child-comment {
    margin-top: 100px;
}