.post-text {
    margin-left: 8px;
}

.child-comment {
    margin-top: 100px;
}

.logo{
    margin-top: -20px;
    width: 150px;
    height: 150px;
}
.inbox-icon-container {
    margin-right: 15px;
}
.inbox-icon:hover {
   transition: 0.5s;
}
.empty-text {
    color: #777;
    font-size: 1.5rem;
    text-align: center;
}

.sent-message {
	width: 40%;
}
.sent-message-p {
    background-color: rgb(255, 202, 45);
    font-size: 20px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
}

.receive-message-p{
    background-color: rgb(255, 202, 45);
    font-size: 20px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
}

.received-message {
	width: 40%;
	float: right;
}

.about-body {
    width: 75% !important;
    
}